@model IEnumerable<deneme.Models.book>

@{
    ViewBag.Title = "Index";
}
<body style=" color:white;background-color:black;">
    <h2 style="font-size:25px;">Books</h2>
   <p style=" margin-left:1000px;">
       @Html.ActionLink("Create New Book","create")


   </p>
    <table class="table" style=" border:hidden">
        <tr style="color:aqua">
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th><p>Book
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pageInformation)
            </th>
            <th>
                <p>Library 
                @Html.DisplayNameFor(model => model.library.name)
                   </p>
            </th>
            <th>
                <p>Publishing House
                    @Html.DisplayNameFor(model => model.publishingHouse.name)
                </p>          
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pageInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.library.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publishingHouse.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.barcodeNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.barcodeNo }) |
                    @Html.ActionLink("Delete Book", "Delete", new { id = item.barcodeNo })
                </td>
            </tr>
        }

    </table>
</body>