<body style="background-color:black">
    <h2 style="color :white">Member Operations</h2>
    <table>
        <tr>
            <td style=" font-size:15px">

                @Html.ActionLink("Get Information About The Library ", "kutuphaneBilgiEdin", "library")
            </td>

        </tr>
        <tr>
            <td style=" font-size:15px">

                @Html.ActionLink("Get Information About The Books", "tumKitaplar", "book")
            </td>

        </tr>
        <tr>
            <td style=" font-size:15px">
                @Html.ActionLink("update member information ", "memberyeni", "member")
            </td>

        </tr>
        <tr>
            <td style=" font-size:15px">

                @Html.ActionLink("Books Search", "gecis", "book")
            </td>

        </tr>
        <tr>
            <td style=" font-size:15px">
                @Html.ActionLink("member book operation", "memberbook", "member")
            </td>

        </tr>

    </table>
</body>