@model deneme.Models.library

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>library</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.constructionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.constructionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address.doorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address.doorNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
